
@font-face {
    font-family: Levi;
    src: url('./assets/levi.ttf');
}
@font-face {
    font-family: Tahoma;
    src: url('https://fonts.cdnfonts.com/css/tahoma');
} 

/* resizeable */
.react-resizeable-handle {
    display: block;
    background-color: red;
    background-repeat: no-repeat;
    background-position: 50%;
}
.react-resizeable-handle-n {
    height: 10px;
    width: 100%;
    cursor: row-resize;
    background-color: red;
    z-index: 100000000000000;
}
#root {
    height: 100vh !important;
    width: 100vw !important;
}
:root {
    --gray: #c0c0c0;
    --light-gray: #e9e8e8;
    --cream: #ece9d8;
    --green: #27bb10;
}

body {
    font-family: Tahoma !important;
    font-weight: 100 !important;
    overflow: hidden !important

}
.login-root {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at -40% -40%, rgb(153, 175, 236) 10%, rgb(99, 124, 214) 90%);
    width: 100vw;
    height: 100vh;
}
.login-top {
    height: calc(100% - 80px)
}
.login-bottom {
    height: 80px;
    width: 100vw;
    background-color: rgb(38, 48,158);
}

.gui-root {
    background-image: url('./assets/bliss.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: inherit;
    height: inherit;
}
.taskbar-left {
    display: flex;
    justify-content: start;
    position: relative;
}
.control-panel-container {
    width: 90px;
    background: linear-gradient(180deg, #109BEE, #0C89E8);
    box-shadow: inset 3px 3px 3px #18BFF0, inset -1px -1px 3px #0C6CCF;
    border-top: 1px solid #0678D1;
    border: 1px solid #085EC5;
    border-left: 2px solid #085EC5;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sound-icon {
        width: 15px;
        height: 15px;
        object-fit: contain;
        margin: 5px
    }
    .clock {
        margin: 0;
        margin-right: 10px;
        color: white;
        font-family: Levi;
        font-size: 1.1em;
        letter-spacing: 0.04em;
        height: 26px
    }
}
.divider {
    border-right: 1px solid var(--gray);
}
.pc-wrapper {
    height: 100%;
}
.filesystem-main {
    background-color: rgb(255, 255, 255);
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    justify-content: start;
}
.file-system-wrapper {
    width: 100%;
    overflow-y: scroll;
}
.filesystem-command {
    width: 200px;
    height: 100%;
    .rc-commands {
        width: 100%;
        height: 100%;
        .command-container-wrapper {
            padding-top: 20px
        }
        .command-container {
            margin: 20px;
            margin-top: 0px
        }
    }
}
.filesystem-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    position: relative;
}
.file-system-home {
    position: relative;
    .filesystem-container2 {
        position: relative;
        h5 {
            font-weight: 800;
            font-size: 0.70em;
            padding-left: 10px;
            padding-bottom: 3px;
        }
        h5::after {
            content: "";
            width: 100%;
            height: 1px;
            background:linear-gradient(to right, rgb(112, 191, 255) 0px, rgb(255, 255, 255) 100%);
            position: absolute;
            left: 0;
            top: 1.3em
    
        }
    }
}
.filesystem-wrapper {
    width: 100%;
}

    ul {
        padding: 0 !important
    }
.context-menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    ul {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.215);
        margin: 0px 4px;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0px 20px; 
        font-size: 0.7em;
        height: 22px;
        justify-content: start;
    }
    .context-row {
        border: 0;
        display: flex;
    }
}
.file-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Levi;
    font-size: 1.3em !important;
    width: 120px;
    height: 100px;
    border: 0px;
    background: transparent;
    a {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.file-edit-box {
    height: 1em;
    margin: 8px;
    margin-top: 5px;
    text-align: center;
    max-width: 100px;
    white-space: wrap;
}
.nav-button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 20px !important;
 img {
    margin: 2px;
    width: 22px;
    height: 26px !important; 

 };
 p {
    margin: 0;
    color: black;
    height: 15px;
    font-size: 0.7em;
 }
}
.taskbar-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
    height: 30px;
    width: 100%;
    z-index: 100000000;
}
.minimized-items {
    display: flex;
    button {
        width: 200px;
        color: white;
    };
    img {
        height: 20px;
        width: 20px;
    }
}

.process-container {
    background-color: #0643a6;
    border: 1px solid #397eeebd;
    display: flex;
    justify-content: start;
    border-top: 1px solid #195bc5;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8em;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 2px
}
.minimized {
    background-color: #3A81F5;
    border: 1px solid #397eee;
    display: flex;
    justify-content: start;
    border-top: 1px solid #609bfb;

    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 2px
}
.start-button {
    background-color: transparent;
    border: 0px;
    height: 100%;
    width: 100px;
    padding: 0;
    img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
}
.desktop-root {
    height: 100%;
    padding: 10px
}
.window-root {
    resize: both;
    height: 500px;
    width: 800px;
    min-width: 500px !important;
    min-height: 300px !important;
    overflow: auto;
    .application-root {
        height: inherit;
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    .application-wrapper {
        overflow: hidden;
        border: 2px solid rgb(0, 84, 227);
        border-top: 0;
        height: calc(100% - 30px);
        width: 100%;

    }
}
.ie-wrapper {
    height: 100%;
    .iframe {
        height: inherit;
    }
}
.command-bar {
    border-bottom: 1px solid #d4d0c17d;
    height: 20px;
    background-color: var(--cream);
    display: flex;
    justify-content: start;
    align-items: center;
    a {
        font-size: 0.7em;
        font-weight: 100;
        margin: 0px 2px ;
        padding: 1px 4px;
        &:hover {
            cursor: default;
            background-color: rgb(60, 60, 253);
            color: white !important
        }
    }
}
.browser-toolbar, .rc-wrapper {
    padding: 0px 7px;
    height: 40px;
    display: flex;
    justify-content: start;
    background-color: var(--cream);
    align-items: center;
    color: #b9b9b97d !important;
    .bi-arrow-left-short::before, .bi-arrow-right-short::before {
        color: white;
        transform: translate(-4px, -5px) scale(1.7)!important; 
        -webkit-text-stroke: 0.5px;
    }
    .bi-caret-down-fill::before {
        color: #b9b9b97d !important;
        font-size: 0.4em;
        align-self: center;
        transform: translateY(-5px);
        margin: 0px 5px;
    }
    
    .nav-button-container {
        display: flex;
        align-items: center;
        padding: 0px 6px 0px 0px
    }
    .nav-button {
        border: 1px solid rgb(180, 180, 180);
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background-color: rgb(202, 202, 202);
        box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.423), inset -1px -2px 2px rgba(0, 0, 0, 0.111) ;
    }
    a {
        margin: 0px 3px;
        font-size: 0.7em;
    }
}

.window-header {
    border-radius: 5px 5px 0px 0px ;
    background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: white !important;
    
    .window-header-left {
        display: flex;
        align-items: center;
        .process-text-main {

            margin: 3px;
            letter-spacing: 0.04em;
            font-size: 0.9em;
            font-weight: 100;
        }
        
        img {
            height: 18px;
            width: 18px;
            margin-left: 5px
        }
        cursor: default;
    }
    .window-header-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 3px;
        .bi {
            color: white !important;
        }
        button {
            height: 20px;
            width: 20px;
            border: 0;
            border-radius: 4px;
            padding: 0;
            margin: 0px 1px;
            box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.28), inset 8px 8px 8px rgba(255, 255, 255, 0.121),inset -3px -3px 3px rgba(0, 0, 0, 0.179);

        }
        .minimize-button {
            .icon::before {
                transform: translateX(-2px);
            }
        }
        .fullscreen-button {
            .icon::before {
                font-size: 0.7em;
                transform: translate(0px, -6px);
            }
        }
        .x-button {
            border: 1px solid white;
            background: linear-gradient(135deg, #f94724 40%, #fb1d12);
            .icon::before {
                transform: translate(-2px, -2px)  !important;
                font-size: 1.4em;
            }
        }

        .minimize-button, .fullscreen-button {
            background-color: transparent;
            border: 1px solid white;
        }
    }
}

.shortcut-container {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 70px;
    height: 90px;
    .shortcut-icon-container, .shortcut-icon-overlay {
        background-size: 35px 35px !important;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
    }
    p {
        margin: 0;
        color: white;
        font-size: 0.6em;
        text-align: center;
        padding: 2px;
        max-width: 70px;
        margin-top: 10px
    }
}

.shortcut-container.highlighted {
    p {
        background-color: rgba(0, 0, 255, 0.374);
    }
    .shortcut-icon-container {
        opacity: 0.5;
    }
    .shortcut-icon-overlay {
        filter: contrast(200%) sepia(1) hue-rotate(130deg) saturate(2000%) brightness(40%) opacity(0.8); 
        transform: translateY(30px);
        box-shadow:40px 0px 0px blue inset;
        z-index: 100;  
    }

}

.TTC-tracker-app {
    .container-main {
        height: inherit;
    }
    .parent-row {
        height: inherit;
    }
    height: 100%;
    background-color: white !important;
    .google-map-container {
    }
}
