.TTC-tracker-app{
    background-color: white !important;
    height: 100%;
    .container-main {
        height: 100%;
        .parent-row {
            height: 100%
        }
    }
}

.google-map-container-inner {
    height: 100%;
}